:root {
  // fonts
  --font-ui: -apple-system, system-ui, "SF Pro", "Segoe UI", "Roboto", ui-sans-serif;
  --font-zh: "SF Pro SC", "PingFang SC", "Helvetica Neue", "Helvetica", "Microsoft Yahei UI", "Microsoft Yahei", "Noto Sans Han", sans-serif;
  --font-en: "SF Pro", "Segoe UI", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  --font-mono: "Monaco", "SF Mono", "Source Code Pro", "Consolas", monospace;

  // colors
  --color-bg: #FFF;
  --color-text: #222;
  --color-text-second: rgba(0, 0, 0, .4);

  --color-todo-border: rgba(0, 0, 0, .15);

  // sizes
}

@media (prefers-color-scheme: dark) {
  :root {
    // colors
    --color-bg: #333;
    --color-text: #F5F5F5;
    --color-text-second: rgba(255, 255, 255, .3);

    --color-todo-border: rgba(255, 255, 255, .15);
  }
}
