:root {
  // fonts
  --font-ui: -apple-system, system-ui, "SF Pro", "Segoe UI", "Roboto", ui-sans-serif;
  --font-zh: "SF Pro SC", "PingFang SC", "Helvetica Neue", "Helvetica", "Microsoft Yahei UI", "Microsoft Yahei", "Noto Sans Han", sans-serif;
  --font-en: "SF Pro", "Segoe UI", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  --font-mono: "Monaco", "SF Mono", "Source Code Pro", "Consolas", monospace;

  // colors

  // sizes
}
