@import '@/css/variables.scss';

.item {
  position: relative;
  border: solid 0 transparent;
  border-width: 1px 0;
  font-size: 0;
  &:has(input[type="text"]:focus) {
    border-color: var(--color-todo-border);

    & > .delete {
      display: block;
    }
  }

  & > input {
    box-sizing: border-box;
    border: none;
    padding: 6px 30px;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    background-color: transparent;
    color: var(--color-text);
    &:focus {
      outline: none;
    }
    &:read-only {
      cursor: default;
    }
  }

  & > .delete {
    display: none;
  }
  &:hover > .delete {
    display: block;
  }
}

.done > input {
  text-decoration: line-through;
  color: var(--color-text-second);
}


.checkbox {
  position: absolute;
  left: 0;
  top: 6px;
  cursor: pointer;

  svg {
    fill: var(--color-text-second);
  }
}

.delete {
  position: absolute;
  right: 0;
  top: 6px;
  cursor: pointer;

  svg {
    fill: var(--color-text-second);
  }
}
